{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [ 1, "single", "avoid-escape" ],
    "strict": [ 1, "never" ],
    "no-unused-vars": [ 1, { "args": "after-used" } ],
    "no-console": 1
  },
  ecmaFeatures: {
    modules: true
  }
}
